// app global css in Sass form
$primary   = #F2C037
$secondary = #26A69A
$accent    = #9C27B0

$dark      = #1D1D1D

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

.global-font
    font-size: 2rem
    color: $positives

.modalSize
  width: 65vw
  max-width: 80vw !important

.modalQrSize
  width: 25vw
  max-width: 80vw !important

.text-wrap
  width: 500px !important
  overflow-wrap: break-all
  color: green

.one-line
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  max-width: 100%
  overflow: hidden
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical
  height: auto

.icon-btn
  transition: all 0.3s
  max-width: 400px

.icon-btn:hover
  transform: scale(1.3)
  cursor: pointer

body
  font-family: Whitney SSm A, Whitney SSm B, 'sans-serif' !important
  font-style: normal
  font-weight: 600
