// app global css in Sass form
// primary   = #2eb7e6
// secondary = #1f7a99
// accent    = #9C27B0
// dark      = #0087b4
// light     = #73e9ff
// positive  = #21BA45
// negative  = #C10015
// info      = #31CCEC
// warning   = #F2C037
// grey      = #6c757d
// white     = #ffffff
// black     = #162c34
// label-color  = #212529

$bg-body   =   rgba(0,0,0,.05);
$color-primary           = #2ebe6a;
$color-primary-dark            = #2ebe6a;
$color-primary-light             = #2ebe6a;
$color-secondary             = #008d3e;
$color-secondary-dark            = #d9b930;
$color-secondary-light             = #fce975;
$color-neutral-grey-1            = #f2f3f4; /*ex-light*/
$color-neutral-grey-2            = #daddde; /*light*/
$color-neutral-grey-3            = #ccc; /*medium*/
$color-neutral-grey-4            = #a6acae; /*medium*/
$color-neutral-grey-5            = #677175; /*muted*/
$color-neutral-grey-6            = #3c484c; /*dark*/
$color-black             = #162c34;
$color-white             = #fff;
$color-red             = #C10015;
$color-green             = #2ee6b9;
$color-purple            = #663366;
/* font weights */
// $font-size-base             = 1rem;
// $font-weight-book =  400;
// $font-weight-medium  = 500;
// $font-weight-semibold =  600;
// $font-weight-bold = 700;

:root
  --q-primary: #2ebe6a !important
  --q-secondary: #008d3e !important
  --q-accent: #9C27B0;
  --q-positive: #21BA45;
  --q-negative: #C10015;
  --q-info: #31CCEC;
  --q-warning: #F2C037;
  --q-dark: #1D1D1D;
  --q-dark-page: #121212;

// $font-size-sm= ($font-size-base * 0.75) //12
// $font-size-lg= ($font-size-base * 1) //16
// $font-size-xlg= ($font-size-base * 1.25) //20
// $font-size-xxl= ($font-size-base * 1.5) //24
// $font-size-xxxl= ($font-size-base * 1.685) //27
// $font-size-xxxxl= ($font-size-base * 2.625) //42
// $font-size-xxxxll= ($font-size-base * 3)
// $font-size-xxxxlll= ($font-size-base * 3.5)
// $font-size-button= ($font-size-base * 1) //17px InVison Button Size
// $font-size-menu= ($font-size-base * 0.875) //14px InVison Button Size

.modalSize
  width: 65vw
  max-width: 80vw !important

.modalQrSize
  width: 25vw
  max-width: 80vw !important

.text-wrap
  width: 500px !important
  overflow-wrap: break-all
  color: green

.one-line
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  max-width: 100%
  overflow: hidden
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical
  height: auto

.icon-btn
  transition: all 0.3s
  max-width: 400px

.icon-btn:hover
  transform: scale(1.3)
  cursor: pointer

.card-btn
  transition: all 0.3s
  max-width: 400px

.card-btn:hover
  transform: scale(1.05)
  cursor: pointer

.nav-link
  font-size: $font-size-lg
  font-weight: $font-weight-book
  color: $color-white !important
  text-transform: capitalize
  font-style: normal
  border-radius: 5px
.nav-link:hover
  background-color: $secondary
  color: white

body
  // font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif !important
  // font-style: $font-weight-book !important
  // font-size: 1rem !important
  // line-height: 1.5 !important
  // text-align: left !important
  background: $bg-body !important
.q-placeholder
  // font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif !important
  // font-style: normal !important
  // color: $color-neutral-grey-4 !important
  // padding: 0.75rem 1rem !important
  // font-size : $font-size-lg !important
.q-field--outlined .q-field__control
  // border-radius: 10px !important
  background: white
.q-field__label
  // font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif !important
  // font-style: normal !important
  // color: $color-neutral-grey-4 !important
  // padding: 0rem 1rem !important
  // font-size : $font-size-lg !important
.q-chip__content
  // font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif !important
  font-style: normal !important
  color: white !important
.q-tab__label
  // font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif !important
  // font-weight: $font-weight-semibold !important
  // font-size: 16px !important
.q-tab
  color: $color-secondary !important
  background: transparent !important
  border-style: solid solid solid solid !important
  border-width: 1px !important
.active-tab
  background: $color-primary-dark !important
  color: $color-white !important
  border-style: solid solid solid solid !important
  border-color: $color-primary-dark !important
  border-width: 1px !important
.dropdown-item:hover
  font-weight: $font-weight-bold !important
.card-style
  padding : 0rem 0rem !important
  background: transparent
