// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$color-primary             : #2ebe6a
$color-primary-dark            : #1f7a99
$color-primary-light             : #80dfff
$color-secondary             : #008d3e
$color-secondary-dark            : #d9b930
$color-secondary-light             : #fce975
$color-neutral-grey-1            : #f2f3f4 /*ex-light*/
$color-neutral-grey-2            : #daddde /*light*/
$color-neutral-grey-3            : #ccc /*medium*/
$color-neutral-grey-4            : #a6acae /*medium*/
$color-neutral-grey-5            : #677175 /*muted*/
$color-neutral-grey-6            : #3c484c /*dark*/
$color-black             : #162c34
$color-white             : #fff
$color-red             : #C10015
$color-green             : #2ee6b9
$color-purple            : #663366
$color-accent            : #9C27B0
$color-positive          : #21BA45

/* font weights */
$font-weight-book :  400
$font-weight-medium  : 500
$font-weight-semibold :  600
$font-weight-bold : 700

:root
  --q-primary: #{$color-primary} !important
  --q-secondary: #{$color-secondary} !important
  --q-accent: #{$color-accent} !important
  --q-positive: #{$color-green}   !important
  --q-negative: #{$color-red} !important
  --q-info: #{$color-purple}  !important
  --q-warning: #{$color-secondary}  !important

