// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #2eb7e6
$secondary : #1f7a99
$accent    : #9C27B0

$dark      : #0087b4
$light     : #73e9ff

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
$grey      : #6c757d
$white     : #ffffff
$bg-body: rgba(0,0,0,.25)

a
  color: $secondary
  text-decoration: none
a:hover
  text-decoration: underline
  color: $primary
